{% extends 'templates/inner.html' %}

{% block content %}
	<h2>This is the inner page</h2>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora, sapiente perspiciatis beatae commodi consequatur maxime harum maiores quo ipsam. Enim praesentium voluptas tempora officiis saepe delectus culpa quibusdam nisi.
	</p>
{% endblock %}

{% block sidebar %}
	<h3>Sidebar Content Here</h3>
	<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad in asperiores, quae dicta eaque ex nam, placeat fugiat voluptatem corrupti repellendus vitae odio, vel quia ducimus qui quidem maxime sed.
	</p>
{% endblock %}